body {
    font-family: 'Work Sans', sans-serif;
}

section {
    background-color: white;

}

.hero {
    height: 100vh;
    background-color: #1c1d25;
    color: white;
    font-size: 40px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;

}

nav {
    display: flex;
    justify-content: flex-end;

}

ul {
    display: flex;
    list-style-type: none;
    font-size: 30px;

}

li {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}

h1 {
    font-size: 80px;
    font-weight: 400;
    margin: 0;
}

h2 {
    font-size: 40px;
}

p {
    margin: 0;
    font-weight: 100;
    font-size: 30px;
}


.hero-text {
    margin-left: 40px;
    margin-bottom: 200px;
}

.button {
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background-color: rgb(252, 96, 39);
    text-align: center;
    padding-top: 7px;
    font-size: 30px;
    font-weight: 400;
    margin-top: 20px;
}

.button:hover {
    background-color: #1b0903;
}

.button:active {
    background-color: #A9A9A9;
    color: #808080;
}

li:hover{
    color: rgb(250, 145, 107);
}





.hero-area {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.socials {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    height: 150px;
    margin: 50px;
}

.subsection {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    background-color: white;
}

.subsection-1 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.haroon {
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
    transform: translateY(-50%);
    width: 300px;
    border-radius: 50px;
}


.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);

}


.facepicture {
    display: flex;
    align-items: center;

}

.project {

    width: 250px;
    height: 500px;
    box-shadow: 5px 5px 20px grey;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.subtext {
    font-size: 15px;
    font-weight: 400;
}

.project-image {
    width: 250px;
    height: 250px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.projectlink {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        margin-right: 10px;
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 40px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #2b2c38;
        margin: 0px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
    }


    .logo {
        display: none;
    }

    ul.show {
        display: block;
    }

}

.email {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.phone {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contacticon {
    margin-top: 3px;
    margin-right: 4px;
}

.visitorcounter {
    color: white;
    font-weight: 300;
    font-size: 30;
    margin-top: 50px;
}

.description {
    margin: 10px;
    font-weight: 400;
    font-size: 12;
    font-style: italic;
    color: #1c1d25;

}

.spacer {
    height: 10px;
    width: 10px;
    margin-bottom: 11px;
}


.certs-container {
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

.subsection-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.certtitle {
    font-weight: 400;
    font-size: 15px;
}

.certimage {
    height: 220px;
    width: 220px;

}

